<h2>Update Employee Page</h2>
<div class="col-md-6 offset-md-3">
    <form (ngSubmit) = "onSubmit()">

        <div class="form-group">
            <label>Update Employee First Name</label>
            <input type="text" class="form-control" id="firstname"
            [(ngModel)] = "employee.firstname" name="firstname">
        </div>
    
        <div class="form-group">
            <label>Update Employee Last Name</label>
            <input type="text" class="form-control" id="lastname"
            [(ngModel)] = "employee.lastname" name="lastname">
        </div>
    
        <div class="form-group">
            <label>Update Employee Email Id</label>
            <input type="text" class="form-control" id="emailid"
            [(ngModel)] = "employee.emailid" name="emailid">
        </div>
    
        <input class="btn btn-success" type="button" value="Update">
        <!-- <button class="btn btn-success" type="submit"></button> -->
    </form>
    </div>